#Main{

    width: 300px;
    box-shadow: 0 0 10px;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}


#Footer {

    background-color:rgb(255, 182, 193);
    color: blueviolet;
    text-align: center;
    padding: 50px;
}